POSTGRES_DB=example_db
POSTGRES_USER=example_user
POSTGRES_PASSWORD=example_password

FRONTEND_URL=http://localhost:5173
PORT=3000

JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret

DATABASE_URL=postgresql://example_user:example_password@localhost:5432/example_db